/* font 400 600 500 700 */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
:root {
  --black: #131313;
  --grey: #727272;
  --orange: #ff900e;
  --white: white;
}
* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}
body {
  background: #f3f3f3;
}
.header-bg {
  background: rgba(255, 144, 14, 0.1);
}
/* .main-bg {
  background: #e7e7e7;
} */
.container {
  margin: 0 240px;
}
.btn-primary {
  display: inline-block;
  background-color: var(--orange);
  color: var(--white);
  padding: 20px 25px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 20px;
}
/*------- Header-------  */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px 8px;
}
.header-title {
  margin-right: auto;
}
.header-title h2 {
  font-weight: 700;
  font-size: 45px;
  color: var(--black);
}
nav {
}
.header-nav {
}
.header-nav li {
  display: inline-block;
  margin-left: 40px;
}
.header-nav li a {
  color: var(--grey);
  font-weight: 500;
  font-size: 18px;
}
/*------- Explore More-------  */

.explore-more {
  text-align: center;
  width: 820px;
  margin: 97px auto 50px auto;
}
.explore-more h1 {
  font-weight: 700;
  font-size: 64px;
  color: var(--black);
}
.explore-more p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--grey);
  margin: 24px 0 32px 0;
}

/*------- Banner -------  */
.banner img {
  width: 100%;
  margin-bottom: 45px;
}
/*------- gallery  -------  */
.gallery {
  display: grid;
  gap: 75px;
  align-items: center;
  margin: 85px 0px 130px 0;
  grid-template-columns: repeat(2, 1fr);
}
.gallery-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.gallery-left img {
  width: 100%;

  border-radius: 8px;
}
.gallery-right {
}
.gallery-right h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 53px;
  color: var(--grey);
}
.bold-b {
  font-weight: 700;
  color: var(--black);
}
.bold-org {
  font-weight: 700;
  color: var(--orange);
}
.gallery-right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey);
  margin: 30px 0;
}
/*------- Feature  -------  */
.features {
  display: flex;
  gap: 50px;
  /* flex-direction: colu; */
  /* grid-template-columns: 1fr 1fr; */
}
.feature-left {
}
.feature-left-heading {
  border-left: 5px solid var(--orange);
}
.feature-left-heading h4 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-left: 20px;
}
.feature-left p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--grey);
  margin: 30px 0;
}
.feature-left-description {
  display: flex;
  flex-direction: column;
}
.feature-left-description-box {
  padding: 30px;
  border-radius: 8px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.feature-left-description-box h4 {
  font-weight: 600;
  font-size: 20px;

  color: var(--black);
}
.feature-left-description-box p {
  margin-top: 10px;
  margin-bottom: 0;
}
.feature-right {
}
.feature-right-img {
}
.feature-right-img img {
  /* width: 100%; */
  /* height: 100%; */
}
.feature-right-btn {
  text-align: center;
  background-color: var(--orange);
  padding: 40px;
  color: var(--white);
  width: 205px;
  border-radius: 8px;
  position: relative;
  top: -128px;
  left: -25px;
}

.feature-right-btn h4 {
  font-weight: 700;
  font-size: 30px;
}
.feature-right-btn span {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  display: block;
}
/*------- some fact  -------  */
.some-fact {
  margin: 80px 0;
}
.some-fact h3 {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  margin-bottom: 24px;
}
.some-fact p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
/*------- Achivement  -------  */
.achievement {
  display: flex;
  justify-content: space-between;
}
.achievement-box {
  text-align: center;
  border-radius: 8px;
  padding: 45px 35px;
  border: 2px solid var(--orange);
  transition: 0.3s;
}
.achievement-box:hover {
  background-color: var(--black);
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--orange);
}
.achievement-box h4 {
  color: #424242;
  font-weight: 600;
  font-size: 45px;
  line-height: 53px;
}
.achievement-box p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: #727272;
}

/*------- Sponsore  -------  */
/*------- Sponsore list  -------  */
/*------- footer  -------  */
